$color-var: #5Dc399;

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StyledImput {
    width: 80%;
    max-width: 350px;
    min-width: 250px;
    height: 40px;
    border: none;
    margin: 0.5rem 0;
    background-color: #f5f5f5;
    box-shadow: 0px 14px 9px -15px rgba(0,0,0, 0.25);
    border-radius: 8px;
    padding: 0 1rem;
    transition: all 0.2s ease-in;

    &:hover {
        transform: translateY(-3px);
      }
}

.Status {
    height: 10px;
    width: 10px;
    
    background: $color-var;
    border-radius: 10px;
    margin-left: 1rem;

};

