
$color-var-red: #FF8D8D;
$color-var-green: #5Dc399;


.Container {
    min-width: 600px;
    backdrop-filter: blur(16px);
    background-color: rgba(255, 255, 255, 0.712);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2rem;
  

    @media (max-width: 900px){
        width: 100vw;
        position: absolute;
        padding: 0;
        
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            color: #666666;
            margin-bottom: 2rem;
        }
    }

    h4 {
        color: #808080;
        font-weight: bold;
        font-size: 13px;
        margin-top: 2rem;

        span {
            color: #ff8d8d;
            cursor: pointer;
        }
    }
}

.logoWrapper {
    img {
        height: 6rem;
    }

    h3 {
        text-align: center;
        color: $color-var-red;
        font-size: 22px;
    }

    span {
       color: $color-var-green;
       font-weight: 300px;
       font-size: 22px;
    }

}

.ButtonSign {
    width: 75%;
    max-width: 250px;
    height: 40px;
    border: none;
    margin: 1rem 0;
    box-shadow: 0px 14px 9px -15px rgba(0,0,0,0.25);
    border-radius: 8px;
    background-color: #70EDB9;
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;


    &:hover {
       
        background:#a7e23a;
        transform: translateY(3px);
    }

    
}

.Terms { 
  padding: 0 1rem;
  text-align: center;
  font-size: 10px;
  color: #808080;
  font-weight: 300;
}

.overlayModal {
    background: rgba(0,0,0,0.5);

    position: fixed;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reactModal {

    width: 100%;
    max-width: 576px;
    background: #d8ebe3;
    padding: 3rem;
    position: relative;
    border-radius: 0.24rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    

}

.LogoModal {

    img {
        height: 6rem;
        text-align: center;

    }

    h3 {
        text-align: center;
        color: $color-var-red;
        font-size: 22px;
    }

    span {
       color: $color-var-green;
       font-weight: 300px;
       font-size: 22px;
    }

   

}

.ButtonModal { 
    width: 75%;
    max-width: 250px;
    height: 40px;
    border: none;
    margin: 1rem 0;
    //box-shadow: 0px 14px 9px -15px rgba(0,0,0,0.25);
    border-radius: 8px;
    background-color: #70EDB9;
    color:#fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-align: center;
    

&:hover {
   
    background:#a7e23a;
    transform: translateY(3px);
}


}

